*{
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: Verdana, Geneva, sans-serif;
}

nav li {
    
    display: inline-block;
    margin: 0  20px;
    line-height: 100px;
    
}

nav a { 
font-size: 18px;
text-transform: uppercase;
border: 2px transparent;
padding: 15px 15px;
margin-left: 100px;
width: 100%;



}
nav ul{
    text-align: center;
    border:none;
    background: rgb(234, 104, 171);
    margin-bottom: 0px;
}

a.active,a:hover{
    border: 1px solid white;
    transition: .5s;

} 
a,a:visited {
    cursor: pointer;
    position: relative;
    text-decoration: none;
    color:#fefeff;
    transition: 0.1s linear;
    font-size: calc(0.8rem + 0.8vw);
}

a::after { 
    content:"" ;
    position: absolute;
    width: 100%;
    background: rgb(255, 255, 255);
    height: 1px;
    bottom: -4px;
    left: 0;
    transform-origin: left;
}
a:hover{
    transform: scale(1.04);
    color:#fefeff;
}

a:hover::after {
    animation: animLink 1.4s infinite ease-in-out;
}
    @keyframes animLink {
    75% {  
        transform:scaleX(0.1);     
    }
    100%{
        transform: scaleX(1);
    }}

    h1{
        text-align: center;
        margin: 2%;
        font-size: 3rem;
        letter-spacing: 3rem;
    }
     .imgP{
        background-image: url(./assets/photo\ promos.jfif);
        background-position: center;
        background-size: cover; 
        width: 100vw;
        height:70vh; 
    }

    .flexer{
        display:flex;
       
    }

    .topBar{
        height:12vh;
        margin-bottom: 2vh;;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    .topBar > *, .topBar ul{
        height:100%;
    }

    nav  {
        flex-grow: 1;
    }

nav ul{
    position: fixed;
    width:100%;
    height: 20%;
    background: black;
}
#js{
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    border: 2px solid black;
    margin: 1rem;
}
#data, #php{
    display: flex;
    justify-content: flex-start;
    border: 2px solid black;
    margin: 1rem;
}
.image-data-php{
    width: auto;
    height: 10rem;
    margin: 1rem;
}

.image-js{
    width: auto;
    height: 10rem;
    margin: 1rem;

}
h2{
    text-decoration: underline;
    font-size: 1.6rem;
}
p, h2{
    margin: 1rem;
    
}
.flex-description {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}  
#js:hover, #data:hover, #php:hover{
    box-shadow: 5px 5px 10px black;
    cursor: pointer;
}
footer{
    border-top: 2px solid var(--secondary-color);
    margin: 1rem;
}

footer ul{
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
}

footer ul li:hover{
    color:  #006bbd;
    cursor: pointer;
}


