* {
    padding: 0;
    margin: 0;
    list-style: none;
}

body {
    width: 100%;
    background: (whitesmoke);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*nav */
.navbar {
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    height: 5rem;
    font-weight: bold;

}

.navbar a {
    color: var(--primary-color);
}

.navbar .nav-links ul {
    display: flex;
}

.navbar .nav-links {
    display: flex;
}

.navbar .nav-links ul li {
    margin: 0 25px;
}

.navbar .menu-hamburger {
    display: none;
    position: absolute;
    width: 35px;
    top: 50px;
    right: 50px;
}

@media screen and (max-width:600px) {
    .navbar {
        padding: 0;
    }

    .navbar .menu-hamburger {
        display: block;
    }

    .nav-links {
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 100vh;
        backdrop-filter: blur(8px);
        background-color: rgba(110, 105, 105, 0.864);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100%;
        transition: all 0.8s ease-in-out;
    }

    .mobile-menu {
        margin-left: 0;
    }

    .nav-links ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar .nav-links ul li {
        margin: 25px 0;
        font-size: 1.7rem;
    }

    .navbar .logo {
        position: absolute;
        top: 50px;
        left: 50px;
    }
} 

.nav-links a,
a:visited {
    cursor: pointer;
    position: relative;
    text-decoration: none;
    color: var(--primary-color);
    transition: 0.2s linear;
    font-size: calc(0.8rem + 0.8vw);
}

.hover-footer a,
a:visited {
    cursor: pointer;
    position: relative;
    text-decoration: none;
    color: var(--primary-color);
    transition: 0.2s linear;
    font-size: calc(0.8rem + 0.8vw);
}

.nav-links a::after {
    content: "";
    position: absolute;
    width: 100%;
    background: var(--primary-color);
    height: 1px;
    bottom: -4px;
    left: 0;
    transform-origin: left;
}

.hover-footer a::after {
    content: "";
    position: absolute;
    width: 100%;
    background: var(--primary-color);
    height: 1px;
    bottom: -4px;
    left: 0;
    transform-origin: left;
}

.nav-links a:hover {
    transform: scale(1.04);
    color: var(--third-color);
}

.hover-footer a:hover {
    transform: scale(1.04);
    color: var(--third-color);
}

.nav-links a:hover::after {
    animation: animLink 1.4s infinite ease-in-out;
}

.hover-footer a:hover::after {
    animation: animLink 1.4s infinite ease-in-out;
}

@keyframes animLink {
    75% {
        transform: scaleX(0.1);
    }

    100% {
        transform: scaleX(1);
    }
}
/*section modifié par kevin le 5/10/22*/
h1 {
    text-align: center;
    margin: 2%;
    font-size: 4rem;
    letter-spacing: 3rem;
    font-family: myFirstFont;
}
.bloc-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Talentxt {
    border-right: 3px solid black;
    border-top: 3px solid black;
}
.Brkxt {

    border-right: 3px solid black;
    border-top: 3px solid black;

}

.imgtek {

    height: 15rem;
    width: 60rem;
}
.bloc-container3 {
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}
.im {

    height: 10rem;
    width: 15rem;
    margin-right: 0rem;
    border-top: 0.15rem solid black;
}
button:hover {
    cursor: pointer
}
button {
    height: 4rem;
    width: 15rem;
    border-bottom: 0.15rem solid black;
    background-color: whitesmoke;
    font-size: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 10px;
}
.ok {
    color: #009298;
    flex-wrap: nowrap;
    font-weight: 6px;
}
.bloc-container2 {
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
    margin-left: 1rem;
    align-items: stretch;
    border-left: 3px solid black;
    border-top: 3px solid black;
}
.imgtal {
    Width: 60vh;
    height: 20vh;
}
.txt2 {
    Width: 100vh;
}
.underline {
    text-decoration: underline;
    color: black;
}
.firtxt {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}
.fontprom {
    display: flex;
    justify-content: center;
    align-items: center;
    Width: 60vh;
    height: 35vh;
}
.promo {
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
h5 {
    margin-top: 2rem;
    font-size: 3rem;
    font-family: myFirstFont;
    text-align: center;
    text-decoration: underline;
}
h6 {
    font-family: myFirstFont;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 0.2rem;
}
h1 {
    color: black;
    font-family: myFirstFont;
    font-size: 4rem;
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #009298;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: 3.8rem;
    /* Adjust as needed */
    animation:
        typing 5.5s steps(30, end),
        blink-caret .5s step-end infinite;
    margin-bottom: 4rem;
    margin-top: 4rem;
    text-align: center;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }
    20% {
        border-color: black
    }
}
/*FIN DE SECTION KEVIN */
@font-face {
    font-family: myFirstFont;
    src: url(Voyage.otf);
}
.flexer {
    display: flex;
}
.topBar {
    height: 12vh;
    margin-bottom: 2vh;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 1;
}
.topBar>*,
.topBar ul {
    height: 100%;
}
/*section modifié par kevin le 5/10/22*/
#js {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    border-left: 3px double black;
    border-right: 3px double black;
    border-top: 3px double black;
    margin: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
#data,
#php {
    display: flex;
    justify-content: flex-start;
    margin: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-right: 3px double black;
    border-top: 3px double black;
    border-left: 3px double black;
}
.image-data-php {
    width: auto;
    height: 10rem;
    margin: 1rem;
}
.image-js {
    width: auto;
    height: 10rem;
    margin: 1rem;
}
.flex-description h2{
    text-decoration: underline;
    font-size: 1rem;
}
p,
h2 {
    margin: 1rem;
}

.font-size-articles {
    font-size: 1rem;
}
#js:hover,
#data:hover,
#php:hover {
    box-shadow: 5px 5px 10px black;
    cursor: pointer;
}
.flex-description {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;

}
/*media */
@media screen and (max-width: 600px) {
    .article {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .card {
        width: auto;
        margin-bottom: 2rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }
}
.article {
    display: flex;
    justify-content: space-around;
    margin-top: 3em;
    margin-bottom: 3em;
}

.card {
    background-size: cover;
    width: 20%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.card:hover {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    animation-name: example;
    filter: brightness(50%);
    animation-duration: 0.25s;
    border-left: 8px solid var(--secondary-color);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card h6 {
    width: 75%;
    color: white;
    font-size: 1.5rem;
}

.talentFair {
    background-image: url("assets/talentfair.png");
}

.wildBreakfast {
    background-image: url("assets/wildbreakfast.png");
}

.wildInfos1 {
    background-image: url("assets/wildinfos1.png");
}

.wildInfos2 {
    background-image: url("assets/wildinfos2.png");
}

@media screen and (max-width : 600px) {
    .hidden {
        display: none;
        visibility: hidden;
    }

    #js,
    #php,
    #data {
        flex-direction: column;
        text-align: center;
    }

    .flex-article {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .article {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: auto;
        margin-bottom: 2rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    body {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .imgP {
        height: 40vh;
    }

    .articles-menu{
        border-radius: 2%;
    }
}

/*Romain carroussel */


.slider {
    width: 80%;
    margin: auto;
    color: gray;
    margin-top: 4rem;
}

.img-div {
    width: 200px;
    height: 200px;
    margin: 0 15px;
}

.img-div:hover {
    box-shadow: 5px 5px 10px black;
    cursor: pointer;
}


.div1 {
    background: url("assets/caroussel1.jpg") center no-repeat;
    background-size: cover;
}

.div2 {
    background: url("assets/caroussel2.jpg") center no-repeat;
    background-size: cover;
}

.div3 {
    background: url("assets/caroussel3.jpg") center no-repeat;
    background-size: cover;
}

.div4 {
    background: url("assets/caroussel4.jpg") center no-repeat;
    background-size: cover;
}

.div5 {
    background: url("assets/caroussel5.jpg") center no-repeat;
    background-size: cover;
}

.div6 {
    background: url("assets/caroussel6.jpg") center no-repeat;
    background-size: cover;
}

.div7 {
    background: url("assets/caroussel7.jpg") center no-repeat;
    background-size: cover;
}

/*priscillia footer*/


header {
    background: linear-gradient(rgba(255, 255, 255, .7), rgba(255, 255, 255, .7)), url('assets/backgroundHeader.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    aspect-ratio: 600/100;
}



/*section*/
@font-face {
    font-family: myFirstFont;
    src: url(Voyage.otf);
}

h1 {
    text-align: center;
    margin: 2%;
    font-size: 4rem;
    letter-spacing: 3rem;
    font-family: myFirstFont;

}

/*footer */
footer {
    background: linear-gradient(rgba(255, 255, 255, .7), rgba(255, 255, 255, .7)), url('assets/backgroundHeader.jpg');
    background-size: cover;
}

.footer {
    font-size: 1em;
    margin: 1rem;
    display: flex;
    margin-top: 80px;
    justify-content: space-around;
}

h4 {
    font-size: 1em;
    margin-bottom: 1rem;
}

.bloc-footer-projet {
    margin: 4em 0 2em 0;
    text-align: center;
    font-size: 0.8em;
}

.hover-footer a {

    font-size: 1em;
}

.hover-footer,
.style-adress {
    margin: 1rem;

}

.hover-footer>a:hover {
    color: var(--third-color);
    cursor: pointer;
}

.wrapper .button {
    display: inline-block;
    height: 4vw;
    width: 4vw;
    margin: 1rem;
    background: rgba(104, 104, 104, 0.67);
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 1px 1px 2px 1px black;
    transition: all 0.3s;
    overflow: hidden;
}

.wrapper .button:hover {
    background: var(--third-color);
}

.wrapper .button .icon {
    height: 4vw;
    width: 4vw;
    border-radius: 50%;
    box-sizing: border-box;
    text-align: center;
    font-size: 3.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* debut popup-form-CSS */

.overlay {
    position: absolute;
    top: -100vh;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
}

#popup-overlay:target {
    visibility: visible;
    background-color: rgba(212, 212, 212, 0.486);
    z-index: 1;
    opacity: 1;
    top: 0;
}

#popup-overlay {
    border-radius: 5px;
    position: fixed;
    overflow-y: scroll;
}

#contact-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: linear-gradient(rgba(255, 255, 255, 0.7),
            rgba(255, 255, 255, 0.7)),
        url('/assets/backgroundHeader.jpg');
    background-size: cover;
    border-radius: 1rem;
    margin: 0 auto;
    padding: 2rem;
    z-index: 1;
    max-width: 30rem;
    max-height: fit-content;
    min-width: 7rem;
    min-height: 7rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    left: 0;
    right: 0;
}

#form-title {
    font-family: 'Courier New', Courier, monospace;
    max-width: fit-content;
    padding: 0.5rem;
    margin: 0 auto 2vh;
}

.form-label-textarea {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(182, 182, 182, 0.76);
    position: relative;
    font-size: 1.1rem;
    top: 1rem;
    border-radius: 1rem;
    padding: 1rem;
}

.form-entries {
    border-radius: 2%;
    margin: 1rem;
}

.form-label-input {
    display: flex;
    flex-flow: row wrap;
    font-size: 1.1rem;
    padding: 1rem;
    resize: none;
    border-radius: 1rem;
    background-color: rgba(182, 182, 182, 0.76);
}

.form-input {
    border-radius: 0.5rem;   
}

.form-input:hover {
    box-shadow: inset 1px 1px 2px rgba(128, 128, 128, 0.76);
}

#contact-form label {
    margin-bottom: 1rem;
}

textarea {
    max-height: max-content;
    resize: none;
    border-radius: 1rem;
    width: -webkit-fill-available;
    height: 20vh;
}

#contact-button {
    border: 0;
    position: relative;
    top: 1.5rem;
    width: 9rem;
    margin: auto auto;
    line-height: 2.5;
    padding: 0 1rem;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background: linear-gradient(rgba(59, 66, 59, 0.795),
            rgba(77, 90, 77, 0.651) 30%);
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
        inset -2px -2px 3px rgba(0, 0, 0, .6);
}

#contact-button:hover {
    background-color: var(--third-color);
    cursor: pointer;
}

#contact-button:active {
    box-shadow: inset -2px -2px 3px var(--primary-color, 1),
        inset 2px 2px 3px var(--primary-color);
}

div input {
    width: -webkit-fill-available;
    height: 3vh;
}

#close-cross:hover img {
    box-shadow: 1px 1px 2px rgb(0, 0, 0);
    transform: rotate(90deg);
}

#close-cross {
    width: max-content;
    cursor: pointer;
    /* background-size: cover; */
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7)), url('assets/xicon.jpg'), no-repeat;
    border-radius: 50%;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.relative-help{
    position: relative;
    margin: 0 auto;
    width: fit-content;
    height: fit-content;
    top: 4vh;
}

#close-cross img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-size: cover;
    transition: all 200ms;
}

/* fin popup-form-CSS */

@media screen and (max-width:600px) {
    .wrapper .button .icon {
        font-size: 1em;
        display: none;
    }
    .wrapper.button span {
        display: inline;
    }
    .wrapper .button {
        display: flex;
        flex-direction: column;
        width: auto;
        border-radius: 2em;
        font-weight: 300;
        font-size: 0.8em;
        background: transparent;
        border-color: transparent;
        box-shadow: none;
        padding-left: 1em;
    }
    .ok {
        display: hidden;
    }
    .footer {
        font-size: 0.8em;
    }
    footer {
        margin-top: 2rem;
    }
    .txt2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: auto;
    }
    .bloc-container2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: auto;
    }
    .bloc-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .im {
        width: 10rem;
        height: 10rem;
    }
    .imgtal {
        width: 10rem;
        height: 8rem;
        margin-bottom: 1rem;
    }
    .Talentxt {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: auto;
    }
    .imgtek {
        width: 10rem;
        height: 10rem;
    }
    .Brkxt p {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: auto;
    }
    .firtxt {
        text-align: center;
    }
    h1 {
        display: flex;
        font-size: 3rem;
        width: auto;
        letter-spacing: 1rem;
        margin-bottom: 2rem;
    }
    .ok {
        display: inline;
    }
}
